*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-prim);
}

.center{
    display: flex;
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
    flex-wrap: wrap;
}

section.main{
    background-image: url(./images/bg.svg);
    background-position: center;
    background-size: cover;
    min-height: 700px;
    padding: 20px 0 80px 0;
}

.menu{display: flex; width: 100%;}

.logo-menu{width: 50%;}

.itens-menu{width: 50%; text-align: right;}

.itens-menu a{
    color: var(--a);
    font-weight: bold;
    text-decoration: none;
    margin:  0 10px;
    display: inline-block;
}

.itens-menu a:hover{
    border-bottom: 2px solid var(--line);
}

.itens-menu a.contact-btn{
    background-color: #0F3FD3;
    padding: 10px 12px;
    border-radius: 10px;
}

.itens-menu a.contact-btn:hover{
    border: 0;
}

.mockup{display: block; width: 100%; color: var(--a); text-align: center; padding-top: 110px;}

.mockup h1{
    font-size: 40px;
    font-weight: normal;
}

.mockup img{
    width: 750px;
}

.mockup img{max-width: 100%;}

section.porque-nos{
    padding: 40px 0;
    background-color: var(--backpq);
}

/* Pegando todas as center's dentro de porque-nos */
section.porque-nos > .center > h2{
    font-size: 42px;
    font-family: var(--font-prim);
    text-align: center;
    width: 100%;
}

section.porque-nos > .center > p{
    font-size: 14px;
    color: #ccc;
    text-align: center;
    width: 100%;
    padding-top: 10px;
}

.diferenciais{
    display: flex;
    margin-top: 80px;
}

.box-diferenciais{
    box-shadow: 0px 20px 40px #1011421c;
    width: 31%;
    margin-right: 2%;
    font-family: var(--font-prim);
    padding: 10px 20px;
}

.box-diferenciais h3{
    font-size: 21px;
    margin: 20px 0;
    color: black;
}

.box-diferenciais p{
    font-size: 13px;
    color: #7E92AC;
    opacity: 1;
}

:root{
    --font-prim: 'Raleway', sans-serif;


    /* colors */ 
    --backpq: #FBFCFE;
    --a: #fff;
    --line: #FFDD33;
}