*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-prim);
}

.center{
    display: flex;
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
    flex-wrap: wrap;
}

section.main{
    background-image: url(./images/bg.svg);
    background-position: center;
    background-size: cover;
    min-height: 700px;
    padding: 20px 0 80px 0;
}

.menu{display: flex; width: 100%;}

.logo-menu{width: 50%;}

.itens-menu{width: 50%; text-align: right;}

.itens-menu a{
    color: var(--a);
    font-weight: bold;
    text-decoration: none;
    margin:  0 10px;
    display: inline-block;
}

.itens-menu a:hover{
    border-bottom: 2px solid var(--line);
}

.itens-menu a.contact-btn{
    background-color: #0F3FD3;
    padding: 10px 12px;
    border-radius: 10px;
}

.itens-menu a.contact-btn:hover{
    border: 0;
}

.mockup{display: block; width: 100%; color: var(--a); text-align: center; padding-top: 110px;}

.mockup h1{
    font-size: 40px;
}



:root{
    --font-prim: 'Raleway', sans-serif;


    /* colors */ 
    --a: #fff;
    --line: #FFDD33;
}